__pycache__/
*.py[cod]
*.log

build/
dist/
*.spec

config/license.lic
config/license_state.json
config/license_request.json
config/*.lic
config/secrets.json
config/last_session.json
config/trial_state.json

logs/

.venv/
venv/
*.egg-info/
